<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moengageswiftuisample</string>
				<string>brewbar</string>
			</array>
		</dict>
	</array>
	<key>MoEngage</key>
	<dict>
		<key>AppGroupName</key>
		<string>group.com.alphadevs.MoEngage.NotificationServices</string>
		<key>DataCenter</key>
		<integer>1</integer>
		<key>EncryptionEncodedLiveKey</key>
		<string>DASHBOARD_PROVIDED_BASE64_STRING</string>
		<key>EncryptionEncodedTestKey</key>
		<string>DASHBOARD_PROVIDED_BASE64_STRING</string>
		<key>IsJwtEnabled</key>
		<false/>
		<key>IsNetworkEncryptionEnabled</key>
		<false/>
		<key>IsSdkAutoInitialisationEnabled</key>
		<true/>
		<key>IsStorageEncryptionEnabled</key>
		<false/>
		<key>IsTestEnvironment</key>
		<string>$(SWIFT_ACTIVE_COMPILATION_CONDITIONS)</string>
		<key>IsUserRegistrationEnabled</key>
		<false/>
		<key>KeychainGroupName</key>
		<string>BPWYRAF5X7.com.alphadevs.MoEngage.keychain</string>
		<key>LogLevel</key>
		<integer>5</integer>
		<key>WorkspaceId</key>
		<string>DAO6UGZ73D9RTK8B5W96TPYN</string>
	</dict>
	<key>MoEngageAppDelegateProxyEnabled</key>
	<true/>
	<key>MoEngageBadgeUpdateEnabled</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
